AlertViewExamples.xcodeproj/xcuserdata/Mango.xcuserdatad/xcdebugger
AlertViewExamples.xcodeproj/xcuserdata/Mango.xcuserdatad/xcschemes
AlertViewExamples.xcodeproj/project.xcworkspace/xcshareddata
AlertViewExamples.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
